<footer class="footer">
    <div class="col-xs-12 col-sm-3">
        <h1 class="title">Lorem ipsum</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris </p>
    </div>
    
    <div class="col-xs-12 col-sm-3">
        <h1 class="title">Follow us!</h1>
        <p class="social-media">
            <span><i class="fa fa-facebook-square facebook"></i> </span>
            <span><i class="fa fa-twitter-square twitter"></i> </span>
            <span><i class="fa fa-google-plus-square google"></i></span>
            <span><i class="fa fa-linkedin-square linkedin"></i> </span>
        </p>
        <p> www.yoursite.com</p>
        <p> mail@yoursite.com</p>
    </div>
    
    <div class="col-xs-12 col-sm-3">
        <h1 class="title">Navigation</h1>
        <p class="navigation">
            <span>+ <a ui-sref="app.home">Home</a></span>
            <span>+ <a ui-sref="app.product">Product detail</a></span>
            <span>+ <a ui-sref="app.supplier">Supplier information</a></span>
            <span>+ <a ui-sref="app.">Login</a></span>
        </p>
    </div>
    
    <div class="col-xs-12 col-sm-3">
        <h1 class="title">Happy suppliers!</h1>
        <img src="../assets/images/suppliers/1thumb.jpg" class="img-thumbnail" width="109">
        <img src="../assets/images/suppliers/2thumb.jpg" class="img-thumbnail" width="109">
    </div>
    
    
    <div class="col-xs-12 last-div">
        All images and content © 2016 by Stramina
    </div>
</footer>
