<div class="header-menu" ng-controller="HeaderCtrl">
    <div class="col-xs-6 col-sm-4">
        <!-- Simple dropdown -->
        <span uib-dropdown on-toggle="toggled(open)">
          <a href id="simple-dropdown" uib-dropdown-toggle class="btn btn-default dropdown-toggle">
            <i class="fa fa-bars"></i> <strong>Menu</strong>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li><a href ui-sref="app.home"> <i class="fa fa-home"></i> Home</a></li>
            <li role="separator" class="divider"></li>
            <li><a href ui-sref="app.product"><i class="fa fa-th"></i> Product</a></li>
            <li role="separator" class="divider"></li>
            <li><a href ui-sref="app.supplier"><i class="fa fa-truck"></i> Supplier</a></li>
            <li role="separator" class="divider"></li>
            <li><a href ui-sref="app.login"><i class="fa fa-lock"></i> Log in</a></li>
            <li role="separator" class="divider"></li>
            <li><a href ui-sref="app.cart"><i class="fa fa-shopping-cart"></i> Cart</a></li>
          </ul>
        </span>
    </div>

    <div class="col-xs-6 col-sm-4 logo">
        <p class="text-center"><img src="../../assets/images/logo.png" width="200"></p>
    </div>

    <div class="col-md-4 text-right user-and-cart">
        
        <a href class="btn btn-default my-account">
            <img src="../../assets/images/profile.png" class="img-circle img-thumbnail" width=50>
            <strong>John Doe</strong>
        </a>
        
        <span uib-dropdown on-toggle="toggled(open)">
          <a href id="simple-dropdown" uib-dropdown-toggle class="btn dropdown-toggle btn-3">
            <i class="fa fa-shopping-cart"></i> <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-right cart" uib-dropdown-menu aria-labelledby="simple-dropdown">
            <li ng-repeat="item in items">
                <img ng-src="{{item.image}}" class="img-thumbnail">
                <h4> {{item.name}} </h4>
                <span class="delete"><i class="fa fa-trash"></i></span>
                <span class="price"><strong>$ {{item.price}}</strong></span>
                <span class="quantity">x{{item.quantity}} </span> 
            </li>
            <li class="button-cart" ui-sref="app.cart">
                <button class="btn btn-1">Go to Cart!</button>
            </li>
          </ul>
        </span>
    </div>
</div>