<div ng-controller="HomeCtrl">
    <div class="carousel-home">
      <div uib-carousel active="active" interval="5000" no-transition="false">
        <div uib-slide class="img-container" ng-repeat="slide in slides track by slide.id" index="slide.id">
          <img ng-src="{{slide.image}}" style="margin:auto;">
          <div class="carousel-caption">
            <h4>{{slide.title}}</h4>
            <p>{{slide.text}}</p>
            <button ng-if="slide.button" ui-sref="slide.button.state" class="btn btn-1">{{slide.button.text}}</button>
          </div>
        </div>
      </div>
    </div>
    
    
    
    
    
    <div class="title col-lg-12">
        <h2>Week Sales</h2>
        <h3>The best vegetables ever are one click away!</h3>
    </div>
    <div class="col-lg-12 week-sales">
        <div class="col-lg-3 col-md-3 col-xs-6" ng-repeat="item in weeklyFeatured">
            <div class="sale">
                <div class="price"><strong>${{item.price}}</strong></div>
                <img ng-src="{{item.image}}">
                <div class="info">
                    <div class="float-left">
                        <strong>{{item.date}}</strong>
                        <strong class="name">{{item.name}}</strong>
                    </div>
                    <div class="button-go">
                        <strong><i class="fa fa-3x fa-angle-right"></i></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="title col-lg-12">
        <h2>New products</h2>
        <h3>Lorem ipsum dolor sit amet, nec alia!</h3>
    </div>
    <div class="col-lg-12 product-list">
        <div class="col-lg-2 col-md-2 col-xs-4 product" ng-repeat="item in newProducts">
            <div class="img-cont">
                <img ng-src="{{item.image}}">
            </div>
            <div class="info">
                <p>
                    <span class="supplier">{{item.supplier}}</span>
                    <span class="name"><strong>{{item.name}}</strong></span>
                    <span class="price"><strong>${{item.price}}</strong> <strong class="unity">/ {{item.unity}}</span></strong>
                </p>
            </div>
            <a class="add-to-cart">
                <i class="fa fa-shopping-cart"></i> Add to cart
            </a>
        </div>
    </div>
    
    <div class="title col-lg-12">
        <h2>Daily recipes</h2>
        <h3>Lorem ipsum dolor sit amet, nec alia!</h3>
    </div>
    <div class="col-lg-12 recipes">
        <uib-tabset active="activeTabs">
            <uib-tab ng-repeat="recipe in recipes track by $index" index="$index" heading="{{recipe.name}}">
                <div class="image col-xs-3">
                    <img class="thumbnail" ng-src="{{recipe.image}}">
                </div>
                <div class="content col-xs-12 col-md-9">
                    <h2 class="title">{{recipe.name}}</h2>
                    <h4 class="subtitle">Lorem ipsum dolor sit amet, nec alia!</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    <h5 class="subsubtitle">Materials</h5>
                    <div class="product">
                        <div class="product" ng-repeat="product in recipe.products">
                            <p>
                                <i class="fa fa-eye"></i>
                                <i class="fa fa-shopping-cart"></i>
                                {{product}}
                            </p>
                        </div>
                        <button class="btn btn-1 add-all"><i class="fa fa-plus"></i> Add al products to cart!</button>
                    </div>
                    <h5 class="subsubtitle">Preparation</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    
    
    <div class="title col-lg-12">
        <h2>Our suppliers</h2>
        <h3>Lorem ipsum dolor sit amet, nec alia!</h3>
    </div>
    
    <div class="col-lg-12 supplier-list">
        <div class="col-lg-3 col-md-3 col-xs-12" ng-repeat="supplier in newSuppliers">
            <div class="supplier">
                <img ng-src="{{supplier.thumb}}">
                <div class="info">
                    <div class="float-left">
                        <strong>{{supplier.location}}</strong>
                        <strong class="name">{{supplier.name}}</strong>
                    </div>
                    <div class="button-go">
                        <strong><i class="fa fa-3x fa-angle-right"></i></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

