<div ng-view class="login-register display-block">
    <div class="image">
        <img src="../assets/images/bg-image.jpeg">
    </div>
    
    <div class="box">
        <h2 class="title">Log in</h2>
        <form class="form">
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
            <button class="btn btn-1 btn-block">Log in </button>
            <button class="btn btn-2 btn-block" ui-sref="app.signup">Sign up</button>
        </form>
    </div>
</div>