<div ng-view class="col-lg-12 page display-block">
    <div class="col-xs-12 product-detail">
        <div class="left-column col-md-4 col-xs-12">
            <img ng-src="{{item.image}}" class="thumbnail">
        </div>
        <div class="right-column col-md-8 col-xs-12">
            <span uib-rating ng-model="item.stars" class="stars" max="5" read-only="true" aria-labelledby="default-rating"></span>
            <h1 class="name">{{item.name}}</h1>
            <h2 class="supplier">Brought by {{item.supplier}}</h2>
            <p>{{item.description}}</p>
            
            <div class="price">
                <strong class="price">${{item.price}}</strong> 
                <strong class="unity">/ {{item.unity}}</strong>
            </div>
            <div class="buttons">
                <button class="btn btn-outline change-quantity" ng-click="substractQuantity()">-</button>
                <div class="form-group">
                    <input class="form-control quantity" ng-model="quantity">
                </div>
                <button class="btn btn-outline-primary change-quantity" ng-click="addQuantity()">+</button>
                <button class="add-to-cart btn btn-outline btn-1">Agregar al carro</button>
                <div class="already-sold">14 already sold!</div>
            </div>
            
            <div class="share">
                <h3 class="title">Share</h3>
                <button class="btn facebook"><i class="fa fa-facebook"></i> </button>
                <button class="btn google"><i class="fa fa-google-plus"></i> </button>
                <button class="btn twitter"><i class="fa fa-twitter"></i> </button>
            </div>
        </div>
    </div>
</div>