<div ng-view class="login-register display-block">
    <div class="image">
        <img src="../assets/images/bg-image.jpeg">
    </div>
    <div class="box">
        <h2 class="title">Sing up</h2>
        <form class="form">
            <input type="text" placeholder="Username">
            <input type="text" placeholder="Email">
            <input type="password" placeholder="Password">
            <input type="password" placeholder="Password confirmation">
            <button class="btn btn-1 btn-block">Register</button>
        </form>
    </div>
</div>